{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">举报店铺</div>
    <div class="panel-body">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'new_shop_submit' %}">
            {% csrf_token %}
            {% bootstrap_form new_shop_form layout='inline' %}
            {% buttons submit=' 提交' %}{% endbuttons %}
        </form>
        {% else %}
        <p>请先登录</p>
        {% endif %}
    </div>
</div>
{% include 'message.html' %}
{% endblock %}
